// Colors:
$color-black: #000;
$color-white: #FFF;
$color-red: #b94a48;
$color-grey: #4F5253;
$color-muted: #CCC;

$color-brand-primary: #f49700; // dmponline
$color-brand-dark:  #EA5D05; // dmponline
// $color-brand-dark:  #009fd7; // tuuli
// $color-brand-primary: #009fd7; // tuuli
// $color-brand-dark:  #094183; // melbourne
// $color-brand-primary: #094183; // melbourne

$color-text-brand-primary: $color-white;
$color-text-brand-primary-hover: $color-black;

// Text colors
$color-text-white: $color-white;
$color-text-red: $color-red;
$color-text-grey: $color-brand-primary;
$color-text-black: $color-black;

// Background colors
$color-background-white: $color-white;
$color-background-grey: $color-brand-primary;
$color-background-black: $color-black;
$color-background-muted: $color-muted;


// Borders colors
$color-border-default: $color-brand-primary;
$color-border-light: #ddd;

// Shadow colors
$color-shadow-dark: $color-black;

// Tooltips
$tooltip-color: $color-white;
$tooltip-background: $color-brand-primary;

// Inverse Dropdowns
$dropdown-inverse-bg: $color-white;
$dropdown-inverse-border: $color-brand-primary;
$dropdown-inverse-text: $color-brand-primary;
$dropdown-inverse-text-hover: $color-white;
$dropdown-inverse-bg-hover: $color-brand-primary;



// Navbar branding colours

$navbar-branding-color: $color-text-white !default;
$navbar-branding-bg: $color-brand-primary !default;
$navbar-branding-border: darken($navbar-branding-bg, 5%) !default;
$navbar-branding-link-color: $color-text-white !default;
$navbar-branding-link-hover-color: $color-brand-primary !default;
$navbar-branding-link-hover-bg: $color-text-white !default;
$navbar-branding-link-active-color: $navbar-branding-link-hover-color !default;
$navbar-branding-link-active-bg: $color-text-white !default;
$navbar-branding-link-disabled-color: #444 !default;
$navbar-branding-link-disabled-bg: transparent !default;
$navbar-branding-brand-color: $navbar-branding-link-color !default;
$navbar-branding-brand-hover-color: #FFFFFF !default;
$navbar-branding-brand-hover-bg: transparent !default;
$navbar-branding-toggle-hover-bg: #333 !default;
$navbar-branding-toggle-icon-bar-bg: #fff !default;
$navbar-branding-toggle-border-color: #333 !default;
