<div class="row">
    <div class="col-md-8">
    <%= form_for plan, html: {method: :put, class: 'form-horizontal edit_plan' } do |f| %>
      <div class="form-group"><!-- description -->
        <div class="col-md-12">
          <%= f.label(:description, _('Project abstract'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_area(
            :description, rows: 6,
            class: 'form-control tinymce',
            "aria-required": false) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
